@model IEnumerable<Job_Offers_Site.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<h3 style="background-color:#00ffff;">Welcome to our Job Offers Platform</h3>

@foreach (var item in Model)
{
    <div class="panel panel-default">

        <h1 class="panel-heading">@Html.DisplayFor(modelItem => item.CategoryName)</h1>
        <h5>@Html.DisplayFor(modelItem => item.CategoryDescription)</h5>
        <div class="row">
            @foreach (var subItem in item.jobs)
            {
                <div class="col-md-3 thumbnail" style="margin-left:20px;
margin-bottom:30px; height:380px;">
                    <img src="~/Uploads/@subItem.jobImage" />
                    <h3>@Html.DisplayFor(modelItem => subItem.JobTitle)</h3>
                    <h5>@Html.DisplayFor(modelItem => subItem.JobContent)</h5>
                    <button class="btn btn-default">Details</button>
                </div>
            }
        </div>
    </div>
}


