<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
   <!--Navbar-->
    <!--The following lines are commented out
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">
                    <img src="#"/>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            الرئيسية
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            العروض
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            السبانخ
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            البطاطس
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            تسجيل
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            اشترك
                        </a>
                    </li>
                </ul>

            </div>

        </div>

    </nav>
        -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">WUZZUF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <!--Partial view _Login-->
            @Html.Partial("_Login")
            
            <!--
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
                -->
        </div>
    </nav>

    <div class="container">
        <div class="row" style="min-height: 300px;">
            @RenderBody()
        </div>
    </div>
   
   <!--Footer--> 
    <footer class="myfooter">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>من نحن؟</h3>
                    <p>احنا التلاتة <br/>
                    سكر نباتة <br/>
                    احنا التلاتة حاجة شرباتات</p>
                </div>
                <div class="col-lg-4">
                    <h3>روابط هامة</h3>
                    <ul>
                        <li><a href="#">وظائف قطاع عام</a></li>
                        <li><a href="#">وظائف قطاع خاص</a></li>
                        <li><a href="#">وظائف قطاع خارج البلاد</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h3>تواصل معنا</h3>
                    <ul>
                        <li><a href="#">فيسبوك</a></li>
                        <li><a href="#">انستاجرام</a></li>
                        <li><a href="#">تويتر</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 subfooter">
            <span>جميع الحقوق محفوظة للعبد لله - 1441 هجرية</span>
        </div> 
    </footer>
    
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    @RenderSection("scripts", required:false)

</body>
</html>
